/* Dark mode colors. */
:root {
	--sl-color-accent-low: #3b171c;
	--sl-color-accent: #fa305c;
	--sl-color-accent-high: #ff717d;
	--sl-color-white: #faf5e7;
	--sl-color-gray-1: #eaeef3;
	--sl-color-gray-2: #c4c9cf;
	--sl-color-gray-3: #9ca5b1;
	--sl-color-gray-4: #515964;
	--sl-color-gray-5: #323943;
	--sl-color-gray-6: #202731;
	--sl-color-black: #15181d;
}
/* Light mode colors. */
:root[data-theme='light'] {
	--sl-color-accent-low: #f2cccf;
	--sl-color-accent: #ac0437;
	--sl-color-accent-high: #921f32;
	--sl-color-white: #644a01;
	--sl-color-gray-1: #342400;
	--sl-color-gray-2: #4a3400;
	--sl-color-gray-3: #6d5000;
	--sl-color-gray-4: #dbad48;
	--sl-color-gray-5: #afa186;
	--sl-color-gray-6: #c9b899;
	--sl-color-gray-7: #fdf5e7;
	--sl-color-black: #ffffff;
}

main {
  font-family: 'Inter', serif;
}