@font-face {
    font-family: 'Inter';
    src: url('/AstroLibresScript/Inter-VariableFont_opsz\,wght.ttf') format('truetype');
    font-stretch: 75% 125%; /* Para wdth si se desea */
    font-style: normal;
}